<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label for="descricao">Descrição: </label>

      <input pInputText  type="text" name="descricao" id="descricao">
    </div>

    <div class="ui-g-12">
      <div>
        <label for="vencimento">Vencimento: </label>
      </div>

      <input pInputText type="text" name="de" id="de">
      <span style="margin: 0 10px;">até</span>
      <input pInputText type="text" name="ate" id="ate">
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="Pesquisar"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="lancamentos" [paginator]="true" [rows]="2">
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Tipo</th>
            <th>Descrição</th>
            <th class="col-data-header">Data Vencimento</th>
            <th class="col-data-header">Data Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-valor-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.pessoa }}</td>
            <td>{{ lancamento.tipo }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td class="col-data-content">{{ lancamento.dataVencimento }}</td>
            <td class="col-data-content">{{ lancamento.dataPagamento }}</td>
            <td class="col-valor-content">
              <span [style.color]="lancamento.tipo==='DESPESA'?'red':'blue'">
                {{ lancamento.valor }}
              </span>
            </td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" title="Edit"></a>
              <button pButton icon="pi pi-trash" title="Delete  "></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Lançamento"></a>
    </div>
  </div>
</div>
